/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.modal-icons img{
	width: 40px;
  	height: 40px;
  	float:left;
}
#page-label{
	font-size: 22px;
}
.list-title{
	font-size: 15px;
	color: grey;

}
#movie-title{
	font-size: 25px;
	color: grey;
}
table{
	font-size: 25px;
	background-color:"white": 

}
.form-group{
	width: 1000px;
	margin: 0 auto;
}
a{

	color: grey;
	
}
.page-form{
	width: 100px;
}


.modal-icons p{
	font-size: 12px;
}

#consensus{
	font-size: 12px;
	color: grey;
}
/*body{
	
	background-image:url('bg-clouds.png') ;
	background-color: #a8d5f9;
	background-repeat:no-repeat;
	background-position:center;
	background-position:top;
	padding-bottom:200px;
}*/

/* url('/images/redesign/bg-clouds.png?v=20120910') no-repeat center top;
position: relative;*/


